.closed__zap {
  margin: 0 auto;
  margin-top: 20px;
  &-filters {
    display: flex;
    flex-direction: row;
    gap: 20px;


    .active {
      background-color: rgba(228, 117, 132, 0.7);
    }
  }
  &-buttons {
    display: flex;
    gap: 20px;
  }
  &-managers {
position: relative;


.mannager__block{
  position: absolute;
  z-index: 9999999999;
  background-color: lightblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  top: 40px;
  padding: 10px;
  padding: 0.4rem;
  border-radius: 10px;
}
  }





  .closed {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
